*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* https://via.placeholder.com/40 */
:root{
  --bg-dark: #17181c;
  --second-dark: #1e1f23;
  --blue-text: #2b85f6;

  --white: #fff;

  --bg-light: #f0f0f0;
  --hover-light: #f0f3ff;
  --light-text: #525a5f;
}
body{
  background-color: var(--bg-light);
}
header{
  background-color: var(--white);
}
header .nav-item i{
  width: 25px;
  text-align: center;
}
.logo{
  color: #08515e;
}
.social a:hover{
  background-color: var(--bg-light);
}
.card{
  border-radius: 15px;
}
.react{
  cursor: pointer;
}
.react:hover{
  background-color: var(--bg-light);
}
.about-social a i{
  transition: .2s;
}
.about-social a:hover i{
  transform: scale(1.2);
}
.about-social a:nth-of-type(2) i{
  color: #0A66C2;
}
.about-social a:nth-of-type(4) i{
  color: #E1306C;
}
.aboutMe-title{
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
  transition: .2s;
  width: fit-content;
  margin: 0 auto;
}
.aboutMe-title::before, .aboutMe-title::after{
  content: '';
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: var(--blue-text);
  transition: .2s;
}
.aboutMe-title::before{
  bottom: 0;
  right: 150px;
}
.aboutMe-title::after{
  bottom: 7px;
  left: 150px;
}
.aboutMe-title:hover:before{
  right: 22px;
}
.aboutMe-title:hover:after{
  left: 22px;
}
.top2{
  top: 1rem;
}
.toast{
  top: 4rem;
  left: 2rem;
  z-index: 9999;
  transition: .5s;
}
.control{
  right: 0;
  top: 100%;
  z-index: 99;
  user-select: none;
}
#control-toggler .show{
  display: block !important;
}
#addPost{
  bottom: 2rem;
  left: 4rem;
  z-index: 999;
  transition: .2s;
}
#toTop{
  bottom: 2rem;
  right: -4rem;
  overflow: hidden;
  z-index: 999;
  transition: .2s;
}
#toTop i{
  transition: .3s;
}
@media (max-width: 500px){
  .toast{
    left: 5px;
  }
  #addPost{
    bottom: 1.5rem !important;
    left: 1.5rem !important;
  }
  #toTop{
    bottom: 1.5rem !important;
    right: -4rem !important;
  }
}

/* Spinner-loader */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* Spinner-loader */